[Unit]
Description=Assistant 
After=network.target

[Service] 
Type=simple 
User=pi
Environment=VIRTUAL_ENV="/home/pi/env/bin/activate" 
Environment=PYTHONIOENCODING="UTF-8"
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=assistant
WorkingDirectory=/home/pi/Assistant
ExecStart=/home/pi/Assistant/__main__.py
Restart=always

[Install] 
WantedBy=multi-user.target
