<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{device.name}} {{func}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <table class="table table-sm table-striped">
        <tr ng-if="lines.length > 0">
            <td colspan="2" style="text-align: center;" >
                    <table class="table table-borderless">                    
                        <tr ng-repeat="line in lines"> 
                            <td ng-repeat="action in actions" ng-if="$index >= line * 3 - 3 && $index < line * 3">
                                <button ng-if="$index % 2 == 0 && action != '' && action != 'Set Volume'" type="button" class="btn btn-info" ng-click="mediaAction(action)">{{action.replace('Volume', 'Vol')}}</button>
                                <button ng-if="$index % 2 == 1 && action != '' && action != 'Set Volume'" type="button" class="btn btn-warning" ng-click="mediaAction(action)">{{action.replace('Volume', 'Vol')}}</button>
                                <input id="volumeSlider" style="-webkit-appearance: slider-vertical" ng-change="mediaAction('Set Volume', setVolume)" ng-model="setVolume" ng-if="action=='Set Volume'" class="input-range" orient="vertical" type="range" step="1" min="0" max="100">
                            </td>                        
                        </tr>                    
                    </table>
                </td>
        </tr>
        <tr>
            <td>
                    <div class="col-form-label">Music: {{musicDir.length}}</div>
            </td>
            <td>
                <input id="musicFilter" ng-model="mfilter">
            </td>
        </tr>
    </table>
    <table ng-if="mfilter.length > 3" class="table table-sm table-striped" ng-if="musicDir">
        <tr ng-repeat="item in musicDir| musicFilter : mfilter">
            <td>
                <span ng-click="playMusic(item)">{{item.substring(7)}}</span>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="closeModal()">Close</button>

</div>
